.jumbotron {
    border-radius: 20px 20px 20px 20px;
    height: 200px;
    opacity: 90%;
}

.jumbotron h1{
    color: red;
}

.searchForm {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.submitBtn {
    display: flex;
    margin-left: 82%;
    text-align: center;
}
.submitBtn:hover{
    display: flex;
    margin-left: 82%;
    text-align: center;
    background-color: grey;
}
.weatherForm {
    border-radius: 20px 20px 20px 20px;
    margin-left: -.9em;
}
.map {
    border-radius: 20px 20px 20px 20px;
    margin: .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:35em;
}
.top {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: black 2px 2px 2px;
    background-color: gray;
    color: whitesmoke;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 40px;
}
body {
    background-image: url("images/bruna-branco-7r1HxvVC7AY-unsplash.jpg");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}